.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.mx-auto {
  margin: 0 auto;
}

.transfom-none {
  text-transform: none !important;
}

.underline-none {
  text-decoration: none !important;
}

.v-toolbar__title a {
  text-decoration: none !important;
}